<div class="index">
    <!--<div class="index-bg"></div>-->
    <li><%= link_to "サインアウト",destroy_user_session_path, class: "sign-out",method: :delete %></li>
    <li><%= link_to "TOPへ",root_path, class: "to-top" %></li>
    <div class="new-postarea">
        <h1 class="index-title">新規投稿</h1>
        <div class="index-postarea">
            <%= form_with model: @post, url: { action: :create }, class: "new_post", local: true do |f| %>
                <%= f.label :title %>
                <%= f.text_field :title, autofocus: true, class: "form-control postName", placeholder: "大項目を入力してください" %>
                <div class="text-center"><%= f.submit "投稿", class: "submitBtn" %></div>
            <% end %>
        </div>
    </div>
    <div class="index-posts">
        <h1 class="index-posts-title">投稿一覧</h1>
        <div class="index-posts-area">
            <% @posts.each do |post| %>
                <div class="post">
                    <%= post.title %></h2>
                </div>
            <% end %>
        </div>
    </div>
</div>

